
----- Begin subscription data -----

NX Subscription Certificate

Copyright (c) 2001,2025 NoMachine, http://www.nomachine.com

Issued:                 Tue Oct 21 12:42:42 CEST 2025
Product:                NoMachine
Customer:               NoMachine
E-mail:                 info@nomachine.com
Product Id:             WS
Subscription Id:        None
Subscription Type:      None
Expiry:                 Unlimited
Platform:               Windows
Users:                  Unlimited
Connections:            1
Virtual Desktops:       None
Processors:             Unlimited
Server Key:             338152313bf6c6675450c46807bc572c923bc271
Product Key:            f0c28fa2a8979fc1c067c8b682b227be412b4379
Subscription Key:       f0627e3ce905f22ecbf25577d43ded0240f8dc91

----- End subscription data -----

